<!DOCTYPE html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>Sklep</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-11" style="background: lightgrey">
                    <div class="media p-3 my-3">
                        <img class="mr-5 big-image" src="{{ product.image.url }}" alt="Zdjecie produktu"/>
                        <div class="media-body">
                            <h3 class="mb-3 font-weight-bold">{{ product.name }}</h3>
                            <div><strong>Opis:</strong><br>{{ product.description }}</div>
                            <div><strong>Cena:</strong> {{ product.price }} zł</div>
                            <div><strong>Zostało sztuk:</strong> {{ product.quantity }}</div>
                        </div>
                    </div>
                    <form method="post" action="{% url 'shop:add-to-basket' product.id %}">
                        {% csrf_token %}
                        <div class="form-group col-sm-5">
                            <label class="col-form-label" for="Quantity">Ile sztuk chcesz kupić: </label>
                            <input class="form-control" type="number" id="Quantity" name="basket-quantity" min="0" max="{{ product.quantity }}">
                            <input class="btn btn-success my-2" type="submit" value="Do koszyka">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'shop/bootstrap.min.js' %}"></script>
</html>