<!DOCTYPE html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>Sklep</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'shop/bootstrap.min.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand justify-content-between navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'shop:index' %}">Sklep</a>
            <a class="navbar-brand" href="{% url 'shop:basket' %}">
                Koszyk {% if request.session.basket_size %} <span class="badge badge-light">{{request.session.basket_size}}</span>{% endif %}
            </a>
        </nav>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-11" style="background: lightgrey">
                    <div class="p-2 my-4 text-center text-white bg-primary rounded">
                        <h1>Lista produktów:</h1>
                    </div>
                    {% if products_list %}
                        {% for product in products_list %}
                        <a class="a-link" href="{% url 'shop:detail' product.id %}">
                            <div class="media p-3 my-3 border border-primary rounded btn-outline-secondary">
                                <img class="mr-5 small-image" src="{{ product.image.url }}" alt="Zdjecie produktu"/>
                                <div class="media-body">
                                    <h5 class="mb-3 font-weight-bold">{{ product.name }}</h5>
                                    <div>Cena: {{ product.price }} zł</div>
                                    <div>Zostało sztuk: {{ product.quantity }}</div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    {% else %}
                        <div class="p-3 my-4 text-center text-white bg-danger rounded">
                            <h4>W tej chwili nie ma żadnych produktów do kupienia</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
<!--        {% for b in request.session.basket %}-->
<!--            {{ b.item }} {{ b.amount }}<br>-->
<!--        {% endfor %}-->
<!--        {% if request.session.basket_size %} basket_size= {{request.session.basket_size}} {% endif %}-->
<!--    {{ request.session.basket }}-->
    </body>
    <script src="{% static 'shop/bootstrap.min.js' %}"></script>
</html>