<!DOCTYPE html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'shop/bootstrap.min.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8" style="background: lightgrey">
                    Index html
                </div>
            </div>
        </div>
    </body>
    <script src="{% static 'shop/bootstrap.min.js' %}"></script>
</html>